{#
  COMPONENT: Kicker

  Expects:
    kicker = {
      classes?: string
      attrs?: { [key:string]: string|bool|array|null }# extra HTML attributes
      text?: string
      icon?: string
      iconClasses?: string
      iconAttrs?: { [key: string]: string }
    }

  Example usage:
    {% include 'components/kicker/kicker.twig' with {
      kicker: {
        classes: 'text-gray-500',
        attrs: { id: 'intrc-kicker' },
        text: 'Featured Work',
        icon: 'arrow',
      }
    } %}
#}

{% import 'macros/attributes.twig' as attributes %}

{% set additionalClasses = kicker.classes is defined and kicker.classes ? ' ' ~ kicker.classes : '' %}
{% set attrs = kicker.attrs ?? {} %}
{% set iconClasses = kicker.iconClasses ?? 'w-4 h-4' %}
{% set iconAttrs = kicker.iconAttrs ?? {} %}

{% if kicker.text is defined and kicker.text %}
  <div class="c-kicker items-center gap-2 align-middle{{ additionalClasses }}"
    {% for key, value in attrs %}
      {{ key }}="{{ value is iterable ? value|join(',') : value }}"
    {% endfor %}
  >
    {% if kicker.icon is defined and kicker.icon|length %}
      <span class="c-kicker__icon inline-flex"
        {% for key, value in iconAttrs %}
          {{ key }}="{{ value is iterable ? value|join(',') : value }}"
        {% endfor %}
      >
        {# Get the raw SVG markup #}
        {% set iconSvg %}
          {{ include('_components/atoms/icons/icon-' ~ kicker.icon ~ '.svg', ignoreMissing=true) }}
        {% endset %}

        {% if iconSvg %}
          {% if 'class="' in iconSvg %}
            {% set svgWithClass = iconSvg|replace({ 'class="': 'class="' ~ iconClasses ~ ' ' }) %}
          {% else %}
            {% set svgWithClass = iconSvg|replace({ '<svg ': '<svg class="' ~ iconClasses ~ '" ' }) %}
          {% endif %}

          {{ svgWithClass|raw }}
        {% endif %}
      </span>
    {% endif %}

    <span class="c-kicker__text">{{ kicker.text }}</span>
  </div>
{% endif %}